<%- include("../partials/header") %>

<div class="jumbotron">
	<div class="container">


		<h1>Gallery of the Globe <i class="fa fa-globe"></i></h1>
		<p>
			Share your pictures from wherever you are and find yourself some places that interet you!
		</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
		</p>
		<% if(currentUser && currentUser.isAdmin) {%>

		<h3 style="text-align: end;"> You're an Admin!</h3>
		<% } %>
	</div>

</div>

<div class="container">





	<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campground.image %>">
				<div class="caption">
					<h4><%= campground.name%></h4>
				</div>
				<p>
					<a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">More Info</a>
				</p>
			</div>

		</div>
		<% }); %>
	</div>
</div>

<%- include("../partials/footer") %>